Autor: Julian Peña Duarte

Proyecto: Lideres sociales

Fecha: 2021-05-27

Propósito: conformación de las bases de homicidios

In [ ]:
import pandas as pd
import numpy as np
import os
import unidecode

In [2]:
diractual=os.getcwd()

In [3]:
diractual

'C:\\Users\\Lenovo\\Documents\\GitHub\\MCPP_Julian.Pena\\Proyecto final'

In [4]:
path=diractual+"\\homicidios(datos)"

In [5]:
path

'C:\\Users\\Lenovo\\Documents\\GitHub\\MCPP_Julian.Pena\\Proyecto final\\homicidios(datos)'

In [6]:
# Cambio el directorio de trabajo a donde están los archivos en excel
os.chdir(path)

In [7]:
files = os.listdir(path)
files

['.ipynb_checkpoints',
 'homicidios_2016_2.xlsx',
 'homicidios_2016_2020.csv',
 'homicidios_2017_2.xlsx',
 'homicidios_2018_1.xlsx',
 'homicidios_2019_3.xlsx',
 'homicidios_2020_0.xlsx',
 'poblacion_DANE_departamentos.dta',
 'tasa_homicidios_departamento.csv']

In [8]:
#Me quedo con los archivos xlsx
files_xlsx = [f for f in files if f[-4:] == 'xlsx' ]
files_xlsx

['homicidios_2016_2.xlsx',
 'homicidios_2017_2.xlsx',
 'homicidios_2018_1.xlsx',
 'homicidios_2019_3.xlsx',
 'homicidios_2020_0.xlsx']

In [9]:
# data frame vacío 
df = pd.DataFrame()

In [10]:
## concateno todos los archivos xlsx en el data frame 
for f in files_xlsx:
    data=pd.read_excel(f, engine='openpyxl')
    df = df.append(data)

In [11]:
df

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,AGRUPA EDAD PERSONA,CANTIDAD
0,AMAZONAS,LETICIA (CT),91001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
1,ANTIOQUIA,MEDELLÍN (CT),5001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
2,ANTIOQUIA,SABANALARGA,5628000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
3,ANTIOQUIA,YOLOMBÓ,5890000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
4,BOLÍVAR,CARTAGENA (CT),13001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
...,...,...,...,...,...,...,...,...
11968,TOTAL,NaN,NaN,NaN,NaT,NaN,NaN,12018.0
11969,FUENTE: DIJIN-POLIC...,NaN,NaN,NaN,NaT,NaN,NaN,NaN
11970,*Agrupación referente a la clasificación del c...,NaN,NaN,NaN,NaT,NaN,NaN,NaN
11971,Elaborado: Patrullera Cecilia Angel Neita,NaN,NaN,NaN,NaT,NaN,NaN,NaN
11972,Revisado: IT Cesar Andres Marquez,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [12]:
df = df[df["CODIGO DANE"].notna()] #limpio el contenido basura

In [13]:
df = df.reset_index()

In [14]:
df

,index,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,AGRUPA EDAD PERSONA,CANTIDAD
0,0,AMAZONAS,LETICIA (CT),91001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
1,1,ANTIOQUIA,MEDELLÍN (CT),5001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
2,2,ANTIOQUIA,SABANALARGA,5628000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
3,3,ANTIOQUIA,YOLOMBÓ,5890000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
4,4,BOLÍVAR,CARTAGENA (CT),13001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0
...,...,...,...,...,...,...,...,...,...
55422,11963,VALLE,CALI (CT),76001000.0,ARMA DE FUEGO,2020-12-31,MASCULINO,ADULTOS,1.0
55423,11964,VALLE,CALI (CT),76001000.0,ARMA BLANCA / CORTOPUNZANTE,2020-12-31,MASCULINO,ADULTOS,1.0
55424,11965,VALLE,YUMBO,76892000.0,ARMA DE FUEGO,2020-12-31,MASCULINO,ADULTOS,1.0
55425,11966,VALLE,YUMBO,76892000.0,ARMA DE FUEGO,2020-12-31,MASCULINO,ADULTOS,1.0
55426,11967,VALLE,YUMBO,76892000.0,ARMA DE FUEGO,2020-12-31,MASCULINO,ADULTOS,1.0

In [15]:
del df['index']

In [16]:
df['FECHA HECHO']

0       2016-01-01
1       2016-01-01
2       2016-01-01
3       2016-01-01
4       2016-01-01
           ...
55422   2020-12-31
55423   2020-12-31
55424   2020-12-31
55425   2020-12-31
55426   2020-12-31
Name: FECHA HECHO, Length: 55427, dtype: datetime64[ns]

In [17]:
#creación de variables 
df['mes'] = df['FECHA HECHO'].dt.month
df['año'] = df['FECHA HECHO'].dt.year
df['dia'] = df['FECHA HECHO'].dt.day

In [18]:
df

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,AGRUPA EDAD PERSONA,CANTIDAD,mes,año,dia
0,AMAZONAS,LETICIA (CT),91001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0,1,2016,1
1,ANTIOQUIA,MEDELLÍN (CT),5001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0,1,2016,1
2,ANTIOQUIA,SABANALARGA,5628000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0,1,2016,1
3,ANTIOQUIA,YOLOMBÓ,5890000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0,1,2016,1
4,BOLÍVAR,CARTAGENA (CT),13001000.0,ARMA BLANCA / CORTOPUNZANTE,2016-01-01,MASCULINO,ADULTOS,1.0,1,2016,1
...,...,...,...,...,...,...,...,...,...,...,...
55422,VALLE,CALI (CT),76001000.0,ARMA DE FUEGO,2020-12-31,MASCULINO,ADULTOS,1.0,12,2020,31
55423,VALLE,CALI (CT),76001000.0,ARMA BLANCA / CORTOPUNZANTE,2020-12-31,MASCULINO,ADULTOS,1.0,12,2020,31
55424,VALLE,YUMBO,76892000.0,ARMA DE FUEGO,2020-12-31,MASCULINO,ADULTOS,1.0,12,2020,31
55425,VALLE,YUMBO,76892000.0,ARMA DE FUEGO,2020-12-31,MASCULINO,ADULTOS,1.0,12,2020,31
55426,VALLE,YUMBO,76892000.0,ARMA DE FUEGO,2020-12-31,MASCULINO,ADULTOS,1.0,12,2020,31

In [19]:
#variable semestre
df['semestre']=2

In [20]:
df.loc[df['mes'] <= 6, 'semestre'] = 1

In [21]:
# Estandarización de la variable departamento
df.loc[(df['MUNICIPIO'] =='BOGOTÁ D.C. (CT)') , 'DEPARTAMENTO'] = 'BOGOTA'
df.loc[(df['DEPARTAMENTO'] =='GUAJIRA') , 'DEPARTAMENTO'] = 'LA GUAJIRA'
df.loc[(df['DEPARTAMENTO'] =='VALLE') , 'DEPARTAMENTO'] = 'VALLE DEL CAUCA'

In [22]:
df['DEPARTAMENTO']= df['DEPARTAMENTO'].apply(unidecode.unidecode)

In [23]:
#Agrupo por departamento
data_by_departamento = df.groupby(['DEPARTAMENTO'])

In [24]:
#Sumo el número de homicidios por departamento
data_by_departamento_count = data_by_departamento['CANTIDAD'].agg('sum')

In [25]:
data_by_departamento_count

DEPARTAMENTO
AMAZONAS                 43.0
ANTIOQUIA             10637.0
ARAUCA                  555.0
ATLANTICO              2703.0
BOGOTA                 5545.0
BOLIVAR                1975.0
BOYACA                  435.0
CALDAS                  917.0
CAQUETA                 797.0
CASANARE                354.0
CAUCA                  3359.0
CESAR                  1063.0
CHOCO                  1146.0
CORDOBA                1660.0
CUNDINAMARCA           2004.0
GUAINIA                  15.0
GUAVIARE                138.0
HUILA                  1191.0
LA GUAJIRA             1038.0
MAGDALENA              1175.0
META                   1352.0
NARINO                 2768.0
NORTE DE SANTANDER     2626.0
PUTUMAYO                728.0
QUINDIO                1042.0
RISARALDA              1206.0
SAN ANDRES              124.0
SANTANDER              1343.0
SUCRE                   673.0
TOLIMA                 1408.0
VALLE DEL CAUCA       11453.0
VAUPES                   14.0
VICHADA                  97.0
Name: CANTIDAD, dtype: float64

In [26]:
#Agrupo por departamento y año
data_by_departamento_year = df.groupby(['DEPARTAMENTO','año'])

In [27]:
#Sumo el número de homicidios por departamento y año
data_by_departamento_year_count = data_by_departamento_year['CANTIDAD'].agg('sum')

In [28]:
#Paso la información a un data frame
homicidios_departamento=data_by_departamento_year_count.to_frame()

In [29]:
homicidios_departamento=homicidios_departamento.reset_index()

In [30]:
homicidios_departamento.rename(columns={'DEPARTAMENTO':'departamento'}, inplace=True)

In [31]:
homicidios_departamento

    departamento   año  CANTIDAD
0       AMAZONAS  2016      18.0
1       AMAZONAS  2017       5.0
2       AMAZONAS  2018       8.0
3       AMAZONAS  2019       6.0
4       AMAZONAS  2020       6.0
..           ...   ...       ...
160      VICHADA  2016      15.0
161      VICHADA  2017      23.0
162      VICHADA  2018      22.0
163      VICHADA  2019      20.0
164      VICHADA  2020      17.0

[165 rows x 3 columns]

Importo la base de datos del DANE sobre las proyecciones de la población con los años que me interesan. Con el fin de hallar la tasa de homicidios promedio en el periodo 2016-2020

In [32]:
df_poblacion=pd.read_stata("poblacion_DANE_departamentos.dta")

In [33]:
# Estandarización de la variable departamento
df_poblacion.loc[(df_poblacion['Departamento'] =='N. DE SANTANDER') , 'Departamento'] = 'NORTE DE SANTANDER'
df_poblacion.loc[(df_poblacion['Departamento'] =='NARIÑO') , 'Departamento'] = 'NARINO'

In [34]:
#renombro las columnas
df_poblacion.rename(columns={'Departamento':'departamento', 'Año':'año'}, inplace=True)

In [35]:
df_poblacion[:33]

          departamento   año  PoblacióntotalDANE
0             AMAZONAS  2016               77088
1            ANTIOQUIA  2016             6534857
2               ARAUCA  2016              265190
3            ATLANTICO  2016             2489514
4               BOGOTA  2016             7300918
5              BOLIVAR  2016             2121956
6               BOYACA  2016             1278107
7               CALDAS  2016              989934
8              CAQUETA  2016              483846
9             CASANARE  2016              362721
10               CAUCA  2016             1391836
11               CESAR  2016             1041204
12               CHOCO  2016              505016
13             CORDOBA  2016             1736170
14        CUNDINAMARCA  2016             2721368
15             GUAINIA  2016               42123
16            GUAVIARE  2016              112621
17               HUILA  2016             1168869
18          LA GUAJIRA  2016              985452
19           MAGDALENA  2016             1272442
20                META  2016              979710
21  NORTE DE SANTANDER  2016             1367708
22              NARINO  2016             1765906
23            PUTUMAYO  2016              349537
24             QUINDIO  2016              568506
25           RISARALDA  2016              957254
26          SAN ANDRES  2016               77101
27           SANTANDER  2016             2071016
28               SUCRE  2016              859913
29              TOLIMA  2016             1412220
30     VALLE DEL CAUCA  2016             4660741
31              VAUPES  2016               44079
32             VICHADA  2016               73702

In [36]:
# Realizo el merge de la base homicidios y la base del DANE
tasa_homicidios_departamento=pd.merge(homicidios_departamento,df_poblacion, how='outer',on = ['departamento', 'año'])

In [37]:
tasa_homicidios_departamento

    departamento   año  CANTIDAD  PoblacióntotalDANE
0       AMAZONAS  2016      18.0               77088
1       AMAZONAS  2017       5.0               77948
2       AMAZONAS  2018       8.0               78830
3       AMAZONAS  2019       6.0               79739
4       AMAZONAS  2020       6.0               80682
..           ...   ...       ...                 ...
160      VICHADA  2016      15.0               73702
161      VICHADA  2017      23.0               75468
162      VICHADA  2018      22.0               77276
163      VICHADA  2019      20.0               79134
164      VICHADA  2020      17.0               81048

[165 rows x 4 columns]

In [38]:
#Calculo la tasa de homicidios por cada 100 mil habitantes
tasa_homicidios_departamento['tasa_de_homicidios']=(tasa_homicidios_departamento['CANTIDAD']/
                                                    tasa_homicidios_departamento['PoblacióntotalDANE'])*100000

In [39]:
tasa_homicidios_departamento

    departamento   año  CANTIDAD  PoblacióntotalDANE  tasa_de_homicidios
0       AMAZONAS  2016      18.0               77088           23.349938
1       AMAZONAS  2017       5.0               77948            6.414533
2       AMAZONAS  2018       8.0               78830           10.148421
3       AMAZONAS  2019       6.0               79739            7.524549
4       AMAZONAS  2020       6.0               80682            7.436603
..           ...   ...       ...                 ...                 ...
160      VICHADA  2016      15.0               73702           20.352229
161      VICHADA  2017      23.0               75468           30.476493
162      VICHADA  2018      22.0               77276           28.469382
163      VICHADA  2019      20.0               79134           25.273587
164      VICHADA  2020      17.0               81048           20.975225

[165 rows x 5 columns]

In [40]:
#agrupo por departamento
tasa_homicidios_by_departamento= tasa_homicidios_departamento.groupby(['departamento'])

In [41]:
#Hallo la tase de homicidios promedio del periodo 2016-2020 para cada departamento
tasa_homicidios_by_departamento_mean= tasa_homicidios_by_departamento['tasa_de_homicidios'].agg('mean')

In [42]:
#Lo convierto en un data frame
tasa_homicidios_by_departamento_mean=tasa_homicidios_by_departamento_mean.to_frame()

In [43]:
tasa_homicidios_by_departamento_mean=tasa_homicidios_by_departamento_mean.reset_index()

In [44]:
tasa_homicidios_by_departamento_mean

          departamento  tasa_de_homicidios
0             AMAZONAS           10.974809
1            ANTIOQUIA           31.781086
2               ARAUCA           40.958036
3            ATLANTICO           21.249297
4               BOGOTA           14.858857
5              BOLIVAR           18.196160
6               BOYACA            6.785876
7               CALDAS           18.459751
8              CAQUETA           32.148235
9             CASANARE           18.896429
10               CAUCA           47.394762
11               CESAR           19.938966
12               CHOCO           44.452791
13             CORDOBA           18.563767
14        CUNDINAMARCA           14.328497
15             GUAINIA            6.876706
16            GUAVIARE           23.836107
17               HUILA           19.902249
18          LA GUAJIRA           19.998925
19           MAGDALENA           18.055419
20                META           26.653319
21              NARINO           30.580235
22  NORTE DE SANTANDER           37.751460
23            PUTUMAYO           40.452737
24             QUINDIO           36.279304
25           RISARALDA           24.950547
26          SAN ANDRES           31.520975
27           SANTANDER           12.844189
28               SUCRE           15.324999
29              TOLIMA           19.842033
30     VALLE DEL CAUCA           48.187327
31              VAUPES            6.210242
32             VICHADA           25.109383

Guardo la información

In [45]:
tasa_homicidios_by_departamento_mean.to_csv('tasa_homicidios_departamento.csv', index = False)

In [46]:
df.to_csv('homicidios_2016_2020.csv', index = False)